{% extends "sister_concerns/sister_concern_layout.html" %}

{% load i18n thumbnail cms_tags %}

{% block page_content %}
    <div class="page-title">
        <div class="sc-header">
            {% if product.logo %}
            <a href="{{ product.logo.url }}" class="lightbox">
            {% thumbnail product.logo "75x75" crop="center" as img %}
            <img class="left" src="{{ img.url }}" title="{{ product.name }} {% trans "Logo" %}" 
                alt="{{ product.name }} {% trans "Logo" %}" />
            {% endthumbnail %}
            {% endif %}
            <div class="left">
                <h1>{{ product.name }}</h1>
                {% if product.slogan %}<p>{{ product.slogan }}</p>{% endif %}
            </div>
        </div>
        <div class="clear"></div>
        <div class="dottedline"></div>
        <div class="sc-description">
            {% if product.description %}
                {{ product.description|safe }}
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}