/* CSS Document */
body{
	font-family:Arial;
	font-size:12px;  /*-- Enables font size scaling in MSIE  --*/
	margin:0;
	padding:0;
	text-align:left;
	
	background:url(images/bodyBG.jpg) #fff repeat-x;
width:100%;
height:auto;
	font-style:normal;
	
	
}
html > body{
	font-size:9.5pt;
}
html, body {
	height: 100%;
}

form,table,p,h1,h2,h3,h4,h5,h6,ul,li,div,dl{
	margin:0;
	padding:0;
	font-size:100%;
}
li{
	padding:0;
	margin:0;
	display:inline;
	list-style-type:none;
}
a{
	text-decoration:none;
	outline:none;
}
img{
	border:0;
	vertical-align:top;
}
.clsFloatLeft{
	float:left;
}
.clsFloatRight{
	float:right;
}

.clear{
	clear:both;
}

/* CSS Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*END OF COMMON CODE*/

.wrapper
{
    width:981px;
    height:auto;
    margin:0 auto;
}
.clsbodybg
{
float:left;
background:url(images/bodyBg.png) repeat-y;
width:981px;
height:auto;
margin:4px 0px 0px 0px;
padding:0px 0px 10px 0px;
}

.clsbottombg
{
float:left;
background:url(images/bottombg.png) no-repeat;
width:981px;
height:22px;
}

.clslogotext a
{
float:left;
font:bold 25px Arial, Helvetica, sans-serif;
color:#10a16e;
margin:30px 0px 30px 20px;
}

.clsrightside
{
float:right;
margin:10px 20px 10px 0px;
}

.clslanguage
{
float:right;
width:60px;
height:auto;

}

.clseng a
{
float:left;
font:bold 11px Arial, Helvetica, sans-serif;
color:#5d5c5c;
}

.clsban a
{
float:left;
background:url(images/ban.jpg) no-repeat;
height:9px;
width:25px;
margin:2px 0px 0px 2px;
}

.clssearchbox
{

background:url(images/searchbox.jpg) no-repeat;
height:40px;
width:301px;
margin:20px 0px 0px 0px;

font:12px Arial, Helvetica, sans-serif;
color:#535353;
}

.clssearchbox span
{
float:left;
padding:12px 0px 0px 10px;
font:12px Arial, Helvetica, sans-serif;
color:#535353;
}

.clssearchbox input[type=text]
{
float:left;
background:url(images/searchtext.jpg) no-repeat;
height:24px;
width:192px;
border:none;
padding:0px 0px 0px 5px;
margin:7px 0px 0px 3px;
font:11px Arial, Helvetica, sans-serif;
color:#font:12px Arial, Helvetica, sans-serif;
color:#c4c4c4;
}

.clssearchbox input[type=submit]
{
float:left;
background:url(images/searchbtn.jpg) no-repeat;
height:24px;
width:23px;
border:none;
padding:0px 0px 0px 0px;
margin:7px 0px 0px 0px;
cursor:pointer;
}

.clssubscriber
{
float:right;
margin:4px 0px 0px 0px;
}
.clssubscriber ul
{
list-style-type:none;
text-decoration:none;
}
.clssubscriber ul li
{
font:bold 12px Arial, Helvetica, sans-serif;
color:#5d5c5c;
background:url(images/star.jpg) no-repeat;
background-position:left;
padding:0px 0px 0px 17px;
height:12px;
width:12px;
}
.clssubscriber ul li a
{
font:bold 12px Arial, Helvetica, sans-serif;
color:#5d5c5c;

}
.clssubscriber ul li a:hover
{
color:#10a16e;
}

.clsmenu
{
float:left;
border-radius:7px;
background:url(images/menuBg.jpg) repeat-x;
width:942px;
height:32px;
margin:0px 0px 0px 17px;
}

.clsmenu ul
{
float:left;
list-style-type:none;
text-decoration:none;
text-align:center;
}

.clsmenu ul li
{
float:left;
font:bold 13px Arial, Helvetica, sans-serif;
color:#fff;
background:url(images/menumidbg.jpg) no-repeat;

background-position:left;
position:relative;

text-align:center;
width:180px;
}

.clsmenu ul li img
{
float:left;
font:bold 13px Arial, Helvetica, sans-serif;
color:#fff;
background:url(images/menumidbg.jpg) none;

background-position:left;
position:relative;
padding:2px 0px 2px 0px;
text-align:center;

}
.clsmenu ul li.one
{
float:left;
font:bold 13px Arial, Helvetica, sans-serif;
color:#fff;
background:none;


position:relative;

text-align:center;
width:36px;
}

.clsmenu ul li.one a
{
float:left;
font:bold 13px Arial, Helvetica, sans-serif;
color:#fff;
text-align:center;
padding:8px 7px;
margin:0px 0px 0px 5px;

}
.clsmenu ul li a
{
float:left;
font:bold 13px Arial, Helvetica, sans-serif;
color:#fff;
text-align:center;
padding:8px 0px 8px 0px;
width:180px;
}
.clsmenu ul li a:hover
{
background:url(images/menuhover.jpg) repeat-x;

}

.clsmenu ul li ul
{

    background:#fff;
    border-radius: 0 0 10px 10px;
    float: left;
    height: auto;
    margin: 32px 0 0 2px;
    position: absolute;
    border:5px solid #49b38e;
	width:169px;
}

.clsmenu ul li ul li
{
float:left;
font:bold 13px Arial, Helvetica, sans-serif;
color:#000;
text-align:left;
padding:0px 0px 0px 5px;

background:url(images/submenubg.jpg) repeat-x;
border-radius: 0 0 5px 5px;
width:160px;

}

.clsmenu ul li ul li a
{
float:left;
font:bold 13px Arial, Helvetica, sans-serif;
color:#000;
text-align:left;
width:160px;

}

.clsmenu ul li ul li a:hover
{
background:url(images/submenuhover.jpg) repeat-x;

}

.clsslideshow
{
float:left;
background:url(images/slideshow.jpg) no-repeat;
width:938px;
height:250px;
margin:10px 0px 10px 18px;
}
.clshorline
{
float:left;
background:url(images/horizantalline.png) no-repeat;
width:938px;
height:5px;
margin:0px 0px 10px 18px;
}

.clsprtborder
{
border-radius:7px;
height:128px;
width:304px;
float:left;
background:url(images/prtBg.jpg) repeat-x;
border:solid 1px #cecece;
margin:0px 0px 10px 14px;
}
.clsprtright
{
float:left;
font:bold 18px Arial, Helvetica, sans-serif;
color:#10a16e;
margin:15px 0px 0px 15px;
}

.clsprtright h4
{
background:url(images/prtline.jpg) no-repeat;
height:1px;
width:208px;
font:12px Arial, Helvetica, sans-serif;
color:#545353;
margin:10px 0px 0px 0px;
padding:10px 0px 0px 0px;
}

.clslearnmore
{
float:left;
margin:45px 0px 0px 0px;
}
.clslearnmore ul
{
list-style-type:none;
text-decoration:none;
}
.clslearnmore ul li
{
font:bold 11px Arial, Helvetica, sans-serif;
color:#6b6a6a;
background:url(images/arrow.png) no-repeat;
background-position:right;
padding:0px 20px 0px 0px;
height:12px;
width:12px;
}
.clslearnmore ul li a
{
font:bold 11px Arial, Helvetica, sans-serif;
color:#6b6a6a;

}
.clslearnmore ul li a:hover
{
color:#10a16e;
}

.clsprts
{
float:right;
margin:10px 12px 0px 0px;
}

.clsfooternavi
{
float:left;
margin:0px 0px 0px 18px;
}
.clsfooternavi ul
{
list-style-type:none;
text-decoration:none;
}
.clsfooternavi ul li
{
font:bold 11px Arial, Helvetica, sans-serif;
color:#6b6a6a;
background:url(images/arrow.png) no-repeat;
background-position:left;
padding:0px 17px 0px 17px;
height:12px;
width:12px;
}
.clsfooternavi ul li a
{
font:bold 11px Arial, Helvetica, sans-serif;
color:#6b6a6a;

}
.clsfooternavi ul li a:hover
{
color:#10a16e;
}

.clsfootersubnavi
{
float:left;
margin:10px 0px 0px 10px;
}
.clsfootersubnavi ul
{
list-style-type:none;
text-decoration:none;
}
.clsfootersubnavi ul li
{
font:11px Arial, Helvetica, sans-serif;
color:#545353;
background:url(images/subnavimid.jpg) no-repeat;
padding:0px 10px 0px 10px;
height:12px;
width:12px;
}

.clsfootersubnavi ul li.one
{
font:11px Arial, Helvetica, sans-serif;
color:#545353;
background:none;

height:12px;
width:12px;
}
.clsfootersubnavi ul li a
{
font:11px Arial, Helvetica, sans-serif;
color:#545353;

}
.clsfootersubnavi ul li a:hover
{
text-decoration:underline;
}

.clsfollowus
{
float:right;
background:url(images/folowus.jpg) no-repeat;
height:35px;
width:185px;
margin:0px 20px 0px 0px;

}

.clsfollowus h4
{
float:left;

margin:10px 0px 0px 11px;
font:11px Arial, Helvetica, sans-serif;
color:#545353;
}

.clsfollowus ul
{
float:left;
margin:0px 0px 0px 8px;
}

.clsfollowus ul li
{
float:left;
padding:8px 2px;
}
.clsfollowus ul li a
{
float:left;

}

/************************************************************************innerpage*************************************************************************/

.clslogin
{
float:left;
margin:0px 0px 0px 170px;
}

.clslogin ul
{
text-decoration:none;
list-style-type:none;
}

.clslogin ul li
{
font:12px Arial, Helvetica, sans-serif;
color:#545353;
background:url(images/loginimg.png) no-repeat;
background-position:left;
padding:0px 0px 0px 20px;
}
.clslogin ul li a
{
font:12px Arial, Helvetica, sans-serif;
color:#545353;
}

.clslogin ul li a:hover
{

color:#000;
}

.clsleftsidenavicont
{
float:left;
width:237px;
background:url(images/verticalline.png) no-repeat;
background-position:right;
height:auto;
}

.clsleftsidenavicont h3
{
float:left;
width:207px;
background:url(images/dothrline.png) repeat-x;
background-position:bottom;
font:bold 14px Arial, Helvetica, sans-serif;
color:#10a16e;
margin:10px 0px 0px 18px;
padding:0px 0px 10px 0px;
}

.clsleftsidenavicont ul
{

text-decoration:none;
list-style-type:none;
float:left;
}

.clsleftsidenavicont ul li
{

float:left;
border-bottom:solid 1px #e5e4e4;

font:12px Arial, Helvetica, sans-serif;
color:#807d7d;
margin:10px 0px 0px 18px;
padding:0px 0px 10px 0px;
width:207px;
}

.clsleftsidenavicont ul li.active
{

float:left;
background:url(images/submenu_active.jpg) repeat-x;
border-bottom:none;
font:12px Arial, Helvetica, sans-serif;
color:#807d7d;
margin:10px 0px 0px 18px;
padding:0px 0px 8px 0px;
width:186px;
}
.clsleftsidenavicont ul li a
{
background:url(images/innerarw.png) no-repeat;
background-position:left;
font:12px Arial, Helvetica, sans-serif;
color:#807d7d;
padding:0px 0px 0px 12px;
}

.clsleftsidenavicont ul li a:hover
{
color:#000;
}



.clsbreadcrumbs
{
float:left;
margin:3px 0px 0px 10px;
}
.clsbreadcrumbs ul
{
float:left;
font:11px Verdana, Arial, Helvetica, sans-serif;
color:#4d4d4d;
list-style-type:none;
text-decoration:none;
}

.clsbreadcrumbs ul li
{
float:left;
font:11px Verdana, Arial, Helvetica, sans-serif;
color:#4d4d4d;

padding:9px 0px 0px 2px;
}
.clsbreadcrumbs ul li a
{
float:left;
font:11px Verdana, Arial, Helvetica, sans-serif;
color:#10a16e;
background:url(images/breadcrumps_arw.jpg) no-repeat;
background-position:right 5px;
padding:0px 8px 0px 0px;
}

.clsbreadcrumbs ul li a:hover
{
float:left;

color:#000;
}

.clshorizantaldotline
{float:left;
background:url(images/dothrline.png) repeat-x;
width:707px;
height:1px;
margin:10px 0px 0px 13px;
}
.clsinternet
{float:left;
font:bold 22px Arial, Helvetica, sans-serif;
color:#000;
margin:10px 0px 0px 13px;
}
.clsinternetimg
{
float:left;
margin:10px 0px 0px 13px;
}

.clsprtdesc
{
float:right;
font:bold 16px Arial, Helvetica, sans-serif;
color:#10a16e;
margin:20px 0px 0px 0px;
width:732px;
}

.clsprtdesctxt
{
float:left;
font:12px Arial, Helvetica, sans-serif;
color:#5c5a5a;
margin:10px 0px 0px 0px;
line-height:14px;
width:709px;
}

.clsprtdesccont
{
float:left;
width:727px;
margin:10px 0px 10px 0px;
height:auto;
}


.clsprtdesccont ul
{

text-decoration:none;
list-style-type:none;
float:left;
}

.clsprtdesccont ul li
{

float:left;
border-bottom:solid 1px #e5e4e4;

font:bold 12px Arial, Helvetica, sans-serif;
color:#424a52;
margin:20px 0px 0px 18px;
padding:0px 0px 15px 0px;
width:690px;
}


.clsprtdesccont ul li a
{
background:url(images/arrow.png) no-repeat;
background-position:left;
font:bold 12px Arial, Helvetica, sans-serif;
color:#424a52;
padding:0px 0px 0px 19px;
}
.clsprtdesccont ul li a:hover
{
color:#10a16e;
}