{% extends "base.html" %}

{% load banners_tags i18n thumbnail sister_concerns_tags cms_tags news_tags %}

{% block main_content %}

    <h1>{% trans "Search Results" %}</h1>
    {% block description %}
        {% for result in page.object_list %}
            <!--item -->
            <div class="item {% if not forloop.counter|divisibleby:2 %}itembg{% endif %}">
                <a href="{{ result.object.get_absolute_url }}"><h3>{{ result.object }}</h3></a>
                {% if result.object.description %}
                    <p>{{ result.object.description|truncatewords_html:30|safe }}</p>
                {% endif %}
                <a href="{{ result.object.get_absolute_url }}" class="more">{% trans "Read more" %} &gt;&gt;</a>
            </div>
        {% empty %}
            <p>
                {% trans "No result found." %}
            </p>
        {% endfor %}
    {% endblock %}
{% endblock %}