<table class="branches" border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
           <th width="30%">Zone In Charge</th>
           <th width="70%">Address</th>
        </tr>
        <tr>
           <td width="30%">
                <img src="http://new.bticltd.com/media/cache/10/f7/10f7bcdeb1f2bf5f144ae43c28e990af.jpg" />
                <h4>Md Ershadul Hoque Sarker</h4>
                <p>AAAAAAAAAAA</p>
                <p>BBBBBBBBBBB</p>
           </td>
           <td width="70%">
                <p>Haque Market (1st floor),Baneswar Bazar,Puthia, Rajshahi.Post Code - 6260</p>
                <p>Phone:</p>
                <p>Mobile: 01730-700064</p>
                <p>Fax:</p>
                <p>Email: baneswar@islamibankbd.com</p>
           </td>
        </tr>
        </tbody>
</table>

<h3 class="branch-group">Zonal Branches</h3>
<table class="branches" border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
           <th width="30%">Branch</th>
           <th width="70%">Address</th>
        </tr>
        <tr>
           <td width="30%">
                <h4>AAAA Branch</h4>
           </td>
           <td width="70%">
                <p>Haque Market (1st floor),Baneswar Bazar,Puthia, Rajshahi.Post Code - 6260</p>
                <p>Phone:</p>
                <p>Mobile: 01730-700064</p>
                <p>Fax:</p>
                <p>Email: baneswar@islamibankbd.com</p>
           </td>
        </tr>
        <tr>
           <td width="30%">
                <h4>HJJGGHGHJHGHJ</h4>
           </td>
           <td width="70%">
                <p>Haque Market (1st floor),Baneswar Bazar,Puthia, Rajshahi.Post Code - 6260</p>
                <p>Phone:</p>
                <p>Mobile: 01730-700064</p>
                <p>Fax:</p>
                <p>Email: baneswar@islamibankbd.com</p
                <a href="http://google.com">Google</a>
           </td>
        </tr>
        </tbody>
</table>

<h3 class="branch-group">District Branches</h3>
<table class="branches" border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
           <th width="30%">Branch</th>
           <th width="70%">Address</th>
        </tr>
        <tr>
           <td width="30%">
                <h4>AAAA Branch</h4>
           </td>
           <td width="70%">
                <p>Haque Market (1st floor),Baneswar Bazar,Puthia, Rajshahi.Post Code - 6260</p>
                <p>Phone:</p>
                <p>Mobile: 01730-700064</p>
                <p>Fax:</p>
                <p>Email: baneswar@islamibankbd.com</p>
           </td>
        </tr>
        <tr>
           <td width="30%">
                <h4>HJJGGHGHJHGHJ</h4>
           </td>
           <td width="70%">
                <p>Haque Market (1st floor),Baneswar Bazar,Puthia, Rajshahi.Post Code - 6260</p>
                <p>Phone:</p>
                <p>Mobile: 01730-700064</p>
                <p>Fax:</p>
                <p>Email: baneswar@islamibankbd.com</p
                <a href="http://google.com">Google</a>
           </td>
        </tr>
        </tbody>
</table>

<h3 class="branch-group">Net Branches</h3>
<table class="branches" border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody>
        <tr>
           <th width="30%">Branch</th>
           <th width="70%">Address</th>
        </tr>
        <tr>
           <td width="30%">
                <h4>AAAA Branch</h4>
           </td>
           <td width="70%">
                <p>Haque Market (1st floor),Baneswar Bazar,Puthia, Rajshahi.Post Code - 6260</p>
                <p>Phone:</p>
                <p>Mobile: 01730-700064</p>
                <p>Fax:</p>
                <p>Email: baneswar@islamibankbd.com</p>
           </td>
        </tr>
        <tr>
           <td width="30%">
                <h4>HJJGGHGHJHGHJ</h4>
           </td>
           <td width="70%">
                <p>Haque Market (1st floor),Baneswar Bazar,Puthia, Rajshahi.Post Code - 6260</p>
                <p>Phone:</p>
                <p>Mobile: 01730-700064</p>
                <p>Fax:</p>
                <p>Email: baneswar@islamibankbd.com</p
                <a href="http://google.com">Google</a>
           </td>
        </tr>
        </tbody>
</table>