{% extends "base.html" %}

{% load cms_tags %}
{% load menu_tags %}
{% load thumbnail %}
{% load i18n %}
{% load events_tags %}

{% block content %}
    <!--section-right -->
    <div class="section-right">
        <div class="bordered">
            <!--topbar -->
            <div class="topbar">
                <!--breadcrumbs -->
                <div class="breadcrumbs">
                    {% block full_breadcrumb %}
                    <ul>

                        <li><a href="/">{% page_attribute "page_title" "home" %}</a></li>
                        {% block breadcrumb %}{% endblock %}
                    </ul>
                    {% endblock %}
                </div>
                <div class="share">
                    <ul>
                        <li><a id="share-btn" href="#"><img src="/media/css/images/img-share.jpg" width="46" height="16" alt=""/></a></li>
                        <li><a id="tweet-btn" href="#"><img src="/media/css/images/img-tweet.jpg" width="43" height="16" alt=""/></a></li>
                        {% block share_controls %}
                        <li><a href="?pdf=1" class="ico pdf" target="_blank">pdf</a></li>
                        <li><a href="javascript:print();" class="ico print">print</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
            <!--common -->
            <div class="common">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block sidebar_extra %}
<!--last things-->
<div class="box imgfiles">
    <div class="box-content">
        <h2>{% trans "Images" %}</h2>
        <div class="imgsliderbox">
            {% image_slideshow %}
        </div>
    </div>
</div>
{% endblock %}