<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>innerpage</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="clscontainer">
    <div class="clsbodybg">
      <div class="clslogotext"><a href="#">Your Logo Here</a></div>
      <div class="clsrightside">
      <div class="clslogin"><ul><li><a href="#">Login</a></li></ul></div>
       <div class="clslanguage">
        <div class="clseng"><a href="#">ENG |</a></div>
        <div class="clsban"><a href="#"></a></div>
       </div> 
        <div class="clssearchbox"><span>Search GP</span>
         <input type="text" value="Search By Keyword..." />
         <a href="#"><input type="submit" value="" /></a>
        </div>
        <div class="clssubscriber">
           <ul>
             <li><a href="#">STAR Subscriber</a></li>
           </ul>
        </div>
      </div>
       <div class="clsmenu">
         <ul>
           <li class="one">
               <a href="#"><img src="images/home.png" alt="h" /></a></li>
           <li><a href="#">About Us</a></li>
           <li><a href="#">Products and Services</a></li>
           <li><a href="#">Business</a></li>
           <li><a href="#">Mobile Lifestyle</a></li>
           <li><a href="#">Customer Service</a></li>
         </ul>
       </div>
       
        <div class="clsleftsidenavicont">
         <h3>Products and Services</h3>
          <ul>
           <li><a href="#">What’s New</a></li>
           <li><a href="#">Packages</a></li>
           <li><a href="#">Handsets</a></li>
           <li><a href="#">Internet</a></li>
           <li><a href="#">International Roaming</a></li>
           <li><a href="#">Mobile Services</a></li>
          </ul>
        </div>
       
       
            <div class="clsbreadcrumbs">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products and Services</a></li>
                <li>Internet</li>
              </ul>
            </div>
           
           <div class="clshorizantaldotline"></div>
           <div class="clsinternet">Internet</div>
           <div class="clshorizantaldotline"></div>
           <div class="clsinternetimg"><img src="images/interimg.jpg" /></div>
           <div class="clsprtdesc">Enjoy Internet Anytime Anywhere
            <div class="clsprtdesctxt">When-ever, where-ever you want to get online to access the internet, Grameenphone has got the coverage & right solutions that will suit you. Whether you are searching for information or looking for entertainment & social networking on your phone or a laptop/personal computer we have the right packages & devices to cater to your needs.<br/><br/>

Internet is the most convenient medium of information, through which people can enhance their knowledge, spread the same from one corner of the globe to whichever place they wish with a single click.<br/><br/>

Communication solutions developed by Grameenphone across all the media have always focused one single thing – to help people stay close to their dear ones and to enlighten their lives through free and flawless access to information. Grameenphone internet is another step towards fulfilling this goal. With this step, Grameenphone so far brought Internet to people in the following ways:<br/><br/>
    1) Desktop and Laptop browsing: by using the mobile as modem or by internet modem<br/><br/>
    2) Mobile screen browsing: WAP/internet browsing on the mobile<br/><br/>

Grameenphone is looking to expand further into the digital world by expanding its internet platforms and developing more internet related products, thus becoming the biggest Internet Service Provider of Bangladesh. </div>

         <div class="clsprtdesccont">
         
          <ul>
           <li><a href="#">Internet packages</a></li>
           <li><a href="#">Internet packages</a></li>
           <li><a href="#">Internet packages</a></li>
           <li><a href="#">Internet packages</a></li>
           <li><a href="#">Internet packages</a></li>
           <li><a href="#">Internet packages</a></li>
           <li><a href="#">Internet packages</a></li>
           <li><a href="#">Internet packages</a></li>
          </ul>
        </div>

           </div>
           
       
       
       
       
       <div class="clshorline"></div>
       
       <div class="clsfooternavi">
           <ul>
            <li><a href="#">Investeor Relations</a></li>
            <li><a href="#">Djuice</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Send SMS</a></li>
            <li><a href="#">GPIT</a></li>
            <li><a href="#">MobiCash</a></li>
            
           </ul>
       </div>
       
       <div class="clsfootersubnavi">
           <ul>
            <li class="one"><a href="#">Copyright 2011bticltd.</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Locate Gp Centers</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
            
           </ul>
       </div>
       
         <div class="clsfollowus">
          <h4>Follow us</h4>
          <ul>
           <li><a href="#"><img src="images/t.jpg" alt="t" /></a></li>
           <li><a href="#"><img src="images/f.jpg" alt="f" /></a></li>
           <li><a href="#"><img src="images/ut.jpg" alt="ut" /></a></li>
           <li><a href="#"><img src="images/in.jpg" alt="in" /></a></li>
           <li><a href="#"><img src="images/aa.jpg" alt="aa" /></a></li>
          </ul>
         </div>
    </div>
    <div class="clsbottombg"></div> 
     
  </div>
</body>
</html>
