{% load menu_tags sister_concerns_tags %}

{% for child in children %}
    <li {% if forloop.first %} class="one" {% endif %}>
        {% if not forloop.first %}
            <a class="{% if child.selected or child.ancestor %}selected{% endif %}"
                href="{% if child.children %}#
                    {% else %}{{ child.attr.redirect_url|default:child.get_absolute_url }}{% endif %}">
                {{ child.get_menu_title }}
            </a>
        {% else %}
            <a href="/"><img src="/media/css/images/home.png" alt="home" /></a>
        {% endif %}
        {% if child.children %}
            <ul>
                {% for ch in child.children %}
                    <li {% if forloop.last %}class="last"{% endif %}>
                        <a href="{% if ch.children %}{{ ch.children.0.attr.redirect_url|default:ch.children.0.get_absolute_url }}{% else %}{{ ch.attr.redirect_url|default:ch.get_absolute_url }}{% endif %}">
                            {{ ch.get_menu_title }}
                        </a>
                        {% if ch.children %}
                            <ul>
                                {% for c in ch.children %}
                                    <li {% if forloop.last %}class="last"{% endif %}>
                                        <a href="{% if c.children %}{{ c.children.0.attr.redirect_url|default:c.children.0.get_absolute_url }}{% else %}{{ c.attr.redirect_url|default:c.get_absolute_url }}{% endif %}">
                                            {{ c.get_menu_title }}
                                        </a>
                                        {% if c.children %}
                                            <ul>
                                                {% for c in c.children %}
                                                    <li {% if forloop.last %}class="last"{% endif %}>
                                                        <a href="{% if c.children %}{{ c.children.0.attr.redirect_url|default:c.children.0.get_absolute_url }}{% else %}{{ c.attr.redirect_url|default:c.get_absolute_url }}{% endif %}">
                                                            {{ c.get_menu_title }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% if forloop.counter == 3 %}
                {% show_sister_concerns_menu %}
            {% endif %}
        {% endif %}
    </li>
{% endfor %}